body {
  background-color: #393e46;
}

#main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

#main-menu .nav-link {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #fff;
}

#main-menu .nav-link:hover {
  background-color: #fff;
  color: #000;
}

h1 {
  margin: 35px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #c90c0c;
}

.title h2 {
  font-family: 'Lobster', cursive;
  color: #fff;
}

.start-game-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-alert {
  font-size: 2rem;
  color: #fff;
  margin-top: 1rem;
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 50rem;
  margin: 1rem auto;
}

.col {
  display: flex;
  justify-content: center;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Lobster', cursive;
  color: #000;
  width: 10rem;
  height: 10rem;
  border-radius: 5%;
  border: 0.5rem solid black;
}

.blocks h2 {
  font-size: 5rem;
}

.yellow-block,
.red-block {
  color: #000;
}

.green-block {
  background-color: green;
}

.green-block:active {
  transform: scale(0.9);
}

.red-block {
  background-color: red;
}

.red-block:active {
  transform: scale(0.9);
}

.yellow-block {
  background-color: yellow;
}

.yellow-block:active {
  transform: scale(0.9);
}

.blue-block {
  background-color: blue;
}

.blue-block:active {
  transform: scale(0.9);
}

.flashit {
  color: #000;
  -webkit-animation: flash linear 0.5s 2;
  animation: flash linear 0.5s 2;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.btn {
  background-color: red;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5%;
  border: 2.5px solid black;
  margin: auto 0.5rem;
}

/* .btn:hover {
  transform: scale(1.1);
  color: #fff;
} */

.btn:active {
  transform: scale(0.9);
}
